/*cabeçalho*/
header nav{
    height: 10vh;
}
header img{
    height: 10vh;
}

/*Conteudo principal*/


/*banner*/
#section-banners{

 
}
#section-banners img{
   width: 500px;
   height: 90vh;
  }

/*Produtos vendidos*/

#section-vendidos {
text-align: center;
}
#section-vendidos h2 {
font-weight: bold;
padding: 20px;
}
#section-vendidos img {
height: 300px;
border-radius: 10px;
}
#section-vendidos .card {
margin: 5px;
border: 1px solid #ccc;
border-radius: 10px;
}
#section-vendidos .preco {
color: red;
font-size: 18px;
font-weight: bold;
}
.card-group{
    display: flex;
}


/*Rodapé*/
footer{
    text-align: center;
}
footer p{
    font-weight: bold;
    padding: 10px;
}
/*Botão Voltar topo*/
#voltar-topo {
    position: fixed;
    bottom: 5px;
    right: 50px;
}

 
/* página de login  */


/* Formulário de cadastro*/
#section-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
}
#section-cadastro.nao_visivel{
    display: none;
}
.visivel{
    display: flex;
}
